@model Sitecore.Feature.HabSearch.Models.SearchResultsModel
<div class="content-list search-results">
    @if (Model.AllResultsCount == "0")
    {
        <span>No results found</span>
    }
    @foreach (var result in Model.SearchResults)
    {
        
        <div class="result">
            <h3>
                <a href="@result.Url">@Html.Raw(result.Title)</a>
            </h3>
            
            @if (!string.IsNullOrWhiteSpace(result.Description))
            {
                <div class="description">
                    @Html.Raw(result.Description)
                </div>
            }
            <a class="btn btn-default" href="@result.Url">Read more</a>
        </div>
    }
</div>